core
*.swp
*.o
*.po
*.so
*~
*.orig
conf*.dir
stamp-h1
.deps/
include/Makefile
libgsmfr/bin/
libgsmfr/lib/
config.log
config.status
config.guess
config.sub
*.in
aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
missing
genextension
genrc
gentones
genwave
lcr
lcradmin
libtool
libgsmhr/refsrc
ltmain.sh
