core
*.swp
*.o
*.po
*.so
*~
*.orig
conf*.dir
stamp-h1
.deps/
include/Makefile
libgsmfr/bin/
libgsmfr/lib/

Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/configure
/config.*
/mkinstalldirs

genextension
genrc
gentones
genwave
lcr
lcradmin
libtool
libgsmhr/refsrc
