core
*.o
*.po
*.so
*~
*.orig
conf*.dir
stamp-h1
.deps/
Makefile
config.h
config.log
config.status
config.guess
config.sub
*.in
aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
missing
genextension
genrc
gentones
genwave
lcr
lcradmin
