Source: lcr
Section: comm
Priority: extra
Maintainer: Ivan KLuchnikov <kluchnikovi@gmail.com>
Build-Depends: debhelper (>= 7.0.0~), dh-autoreconf, autotools-dev, libopencore-amrnb-dev, libopencore-amrwb-dev, libortp-dev, libsofia-sip-ua-dev, ncurses-dev, libopencore-amrnb0, pkg-config
Standards-Version: 3.8.3
Homepage: http://isdn.eversberg.eu/download/lcr-1.3/
Vcs-Svn: svn://svn.debian.org/pkg-voip/lcr/trunk
Vcs-Browser: http://svn.debian.org/wsvn/pkg-voip/lcr/?op=log

Package: lcr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LinuxCallRouter - an ISDN based PBX for Linux